/* ==============================================================================================                           This Responsive X-Large devices (large desktops)
=============================================================================================
*/
@media only screen and (min-width: 1200px) {
    p{
        font-size: 18px;
    }
    section{
        margin: 50px 0px;
        margin-top: 0px;
    }
    


    
}